.profile {
  box-sizing: border-box;
  padding: 74px 70px 70px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  max-width: 410px;
  padding: 110px 0 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.profile__fieldset {
  padding:  0 0 50px;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.profile__label {
  padding: 16px 0 0;
  margin: 0;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #E8E8E8;
  pointer-events: none;
}

.profile__label:first-child {
  border: none;
}

.profile__input {
  padding: 0;
  margin: 0;
  color: #000;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
  width: 70%;
}

.profile__input:focus {
  border-bottom: solid 1px #3456F3;
}

.profile__input_active {
  pointer-events: auto;
}

.profile__error {
  padding: 0;
  margin: 0;
  min-height: 16px;
  text-align: right;
  color: #FF3055;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  align-self: flex-end;
  width: 100%
}

.profile__error_type_submit {
  text-align: center;
  padding: 20px 0;
}

.profile__submit {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background: #3456F3;
  border: none;
  align-self: center;
  width: 100%;
  height: 45px;
  cursor: pointer;
  transition: all .1s linear;
}

.profile__submit:hover {
  opacity: .8;
}

.profile__submit_disable {
  background: #F8F8F8;
  color: #C2C2C2;
}

.profile__button {
  padding: 0;
  margin: 16px 0 0;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border: none;
  height: fit-content;
  background-color: transparent;
  cursor: pointer;
  transition: all .1s linear;
}

.profile__button_color_red {
  color: #FF3055;
}

.profile__button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 235px 30px 270px
  }

  .profile__form {
    padding: 82px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 71px 30px 40px;
  }

  .profile__form {
    padding: 65px 0 0;
  }

  .profile__button {
    font-size: 12px;
  }
}